body {
    margin: 0;
    font-family: sans-serif;
    background-color: #202020;
}

/* 
 * Navbar pagina
*/
#navbar {
    overflow: hidden;
}

#navbar a {
    background-color: rgb(70, 70, 70);
    float: left;
    color: white;
    font-size: medium;
    padding: 14px 16px;
    text-decoration: none;
}

/* 
 * Form di ricerca
*/
.searcher {
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: rgb(70, 70, 70);
    padding: 18px 30px;
    color: white;
    font-size: 14px;
}

.searcher input {
    padding: 12px 20px;
    color: white;
}

.searcher .searchbar {
    width: 25%;
    background-color: #202020;
    border: 1px solid #202020;
}

.searcher a {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
}

/* 
 * Dashboard flexbox
*/

.flex-dashboard {
    display: flex;
    align-content: flex-start;
    gap: 15px;
}

.flex-dashboard div {
    background-color: rgb(70, 70, 70);
    width: 200px;
    font-size: 20px;
    margin: 15px;
    padding: 30px;
}

#mainsearch_result {
    box-sizing: border-box;
    width: 600px;
    align-items: stretch;
}

